<div>Hasura TEST</div>

<!-- <form [formGroup]="form">
  <input formControlName="title" placeholder="Enter title" type="text" />
  <button [disabled]="form.invalid" (click)="onAddTask()">Submit</button>
</form>

<hr />
<ul>
  <li *ngFor="let task of tasks$ | async">{{ task.title }}</li>
</ul> -->

<hr />

<form [formGroup]="form">
  <input formControlName="name" placeholder="Enter name" type="text" />
  <input formControlName="amount" placeholder="Enter amount" type="number" />
  <button [disabled]="form.invalid" (click)="onAddPayment()">Submit</button>
</form>

<ul>
  <li *ngFor="let payment of payments$ | async">
    name : {{ payment.name }} ___ amount {{ payment.amount }}
  </li>
</ul>
